.shop {
  padding: 8rem 3rem 2rem 3rem;
  display: flex;
  min-height: 100vh;
  height: 100%;
}

@media screen and (max-width: 815px) {
  .shop {
    padding: 8rem 2rem 2rem 2rem;
  }
}

@media screen and (max-width: 687px) {
  .shop {
    flex-direction: column;
  }
}
