.password-reset {
  padding-top: 3rem;
}

.reset-container {
  width: 400px;
  margin: 15vh auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.reset-container > h1 {
  background: #333333;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 2rem;
  margin: 0;
}

.reset-container > p {
  margin: 1.5rem 1.5rem 0 1.5rem;
}

.reset-container form {
  width: 100%;
  padding: 1.5rem;
}

.reset-container form label {
  font-size: 1.1rem;
}

.reset-container input {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  padding: 1rem;
}

.reset-btn {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #333333;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin: 1.5rem 0;
  padding: 0.5rem 2rem;
  font-weight: 600;
  cursor: pointer;
}
